parameters:
	level: 5
	reportUnmatchedIgnoredErrors: false
	excludePaths:
		- */Resources*
	ignoreErrors:
		- '#Call to an undefined method Symfony\\Component\\EventDispatcher\\Event::.*#'
		- '#Call to an undefined method object::.*#'
		- '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::.*#'